spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/plamilhasdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update        # use "validate" se estiver com Flyway ativo
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: false            # desative até validar a conexão com o banco
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE


